In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/wine.csv')

In [3]:
df.head(3)

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm

In [4]:
df.shape

(129971, 14)

In [5]:
df.isnull().sum()

Unnamed: 0                   0
country                     63
description                  0
designation              37465
points                       0
price                     8996
province                    63
region_1                 21247
region_2                 79460
taster_name              26244
taster_twitter_handle    31213
title                        0
variety                      1
winery                       0
dtype: int64

In [6]:
# get rows with missing values by column
df.loc[df.country.isnull()].head(3)

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
913,913,NaN,"Amber in color, this wine has aromas of peach ...",Asureti Valley,87,30.0,NaN,NaN,NaN,Mike DeSimone,@worldwineguys,Gotsa Family Wines 2014 Asureti Valley Chinuri,Chinuri,Gotsa Family Wines
3131,3131,NaN,"Soft, fruity and juicy, this is a pleasant, si...",Partager,83,NaN,NaN,NaN,NaN,Roger Voss,@vossroger,Barton & Guestier NV Partager Red,Red Blend,Barton & Guestier
4243,4243,NaN,"Violet-red in color, this semisweet wine has a...",Red Naturally Semi-Sweet,88,18.0,NaN,NaN,NaN,Mike DeSimone,@worldwineguys,Kakhetia Traditional Winemaking 2012 Red Natur...,Ojaleshi,Kakhetia Traditional Winemaking

In [7]:
# drop rows where both cols have missing values
df.dropna(subset = ['country', 'designation'], how = 'all').shape

(129960, 14)

In [8]:
# drop rows where either cols have missing values
df.dropna(subset = ['country', 'designation'], how = 'any').shape

(92454, 14)

In [9]:
# drop rows where single column has missing values in place
df.dropna(subset = ['country'], inplace = True)

In [10]:
#country now has 0 missing values
df.isnull().sum()

Unnamed: 0                   0
country                      0
description                  0
designation              37454
points                       0
price                     8992
province                     0
region_1                 21184
region_2                 79397
taster_name              26244
taster_twitter_handle    31213
title                        0
variety                      1
winery                       0
dtype: int64

In [11]:

df.price.value_counts(dropna = False)

NaN      8992
20.0     6938
15.0     6066
25.0     5796
30.0     4946
         ...
369.0       1
428.0       1
269.0       1
276.0       1
540.0       1
Name: price, Length: 391, dtype: int64

In [12]:
df.price.fillna(value = 20.0, inplace = True)

In [13]:
# filled all missing values within a column by another value in the column
df.price.value_counts(dropna = False)

20.0     15930
15.0      6066
25.0      5796
30.0      4946
18.0      4881
         ...
395.0        1
306.0        1
675.0        1
157.0        1
540.0        1
Name: price, Length: 390, dtype: int64