In [37]:
from google.cloud import bigquery

In [39]:
import os
os.environ["GOOGLE_APPLICATION_CREDENTIALS"]=r"C:\Users\Chetan Kalia\Downloads\SQLpractice-d261ef42f720.json"

In [41]:
client = bigquery.Client()

In [42]:
dataset_ref = client.dataset("hacker_news", project="bigquery-public-data")

# API request - fetch the dataset
dataset = client.get_dataset(dataset_ref)

In [43]:
# List all the tables in the "hacker_news" dataset
tables = list(client.list_tables(dataset))

# Print names of all tables in the dataset (there are four!)
for table in tables:  
    print(table.table_id)

comments
full
full_201510
stories

In [44]:
# Construct a reference to the "full" table
table_ref = dataset_ref.table("full")

# API request - fetch the table
table = client.get_table(table_ref)

In [46]:
# each column represented by a 'SchemaField' followed by 1. name of column, datatype in column, mode of column, column description
table.schema

[SchemaField('title', 'STRING', 'NULLABLE', 'Story title', ()),
 SchemaField('url', 'STRING', 'NULLABLE', 'Story url', ()),
 SchemaField('text', 'STRING', 'NULLABLE', 'Story or comment text', ()),
 SchemaField('dead', 'BOOLEAN', 'NULLABLE', 'Is dead?', ()),
 SchemaField('by', 'STRING', 'NULLABLE', "The username of the item's author.", ()),
 SchemaField('score', 'INTEGER', 'NULLABLE', 'Story score', ()),
 SchemaField('time', 'INTEGER', 'NULLABLE', 'Unix time', ()),
 SchemaField('timestamp', 'TIMESTAMP', 'NULLABLE', 'Timestamp for the unix time', ()),
 SchemaField('type', 'STRING', 'NULLABLE', 'Type of details (comment, comment_ranking, poll, story, job, pollopt)', ()),
 SchemaField('id', 'INTEGER', 'NULLABLE', "The item's unique id.", ()),
 SchemaField('parent', 'INTEGER', 'NULLABLE', 'Parent comment ID', ()),
 SchemaField('descendants', 'INTEGER', 'NULLABLE', 'Number of story or poll descendants', ()),
 SchemaField('ranking', 'INTEGER', 'NULLABLE', 'Comment ranking', ()),
 SchemaField('deleted', 'BOOLEAN', 'NULLABLE', 'Is deleted?', ())]

In [48]:
# big query object converted to a pandas dataframe
client.list_rows(table, max_results=5).to_dataframe()

,title,url,text,dead,by,score,time,timestamp,type,id,parent,descendants,ranking,deleted
0,"Show HN: MusicMessages, a collaborative step s...",http://musicmessages.io,None,None,archagon,2.0,1480552559,2016-12-01 00:35:59+00:00,story,13076004,NaN,0.0,None,None
1,Net Results: Data centres need to power down t...,https://www.irishtimes.com/business/technology...,None,None,secfirstmd,1.0,1531423673,2018-07-12 19:27:53+00:00,story,17517813,NaN,0.0,None,None
2,None,None,This is just a pendulum swing. If you remember...,None,anovikov,NaN,1524159593,2018-04-19 17:39:53+00:00,comment,16878065,16877928.0,NaN,None,None
3,YouPy – YouTube for Jupyter Notebooks,None,View the Jupyter Notebooks of folks working at...,None,massens,6.0,1519396935,2018-02-23 14:42:15+00:00,story,16446532,NaN,5.0,None,None
4,None,None,"It authenticates the domain of the sender, right?",None,alexchamberlain,NaN,1351089908,2012-10-24 14:45:08+00:00,comment,4693135,4692701.0,NaN,None,None

In [49]:
# can select certain columns to view too
client.list_rows(table, selected_fields=table.schema[:1], max_results=5).to_dataframe()

                                               title
0  Show HN: MusicMessages, a collaborative step s...
1  Net Results: Data centres need to power down t...
2                                               None
3              YouPy – YouTube for Jupyter Notebooks
4                                               None